/**-----重置样式-----**/
html,body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em,i { font-style:normal; }
ul,li { list-style:none; }
a { text-decoration:none; color: #333;}
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:14px; font-family:"微软雅黑"; overflow-x: hidden;}
/* end reset */

.fl{float: left;}             
.fr{float: right;}                                         

.clearfix:before,.clearfix:after{content: '';display: table;}  
.clearfix:after{clear: both;} 

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.overpoints{
	overflow: hidden;
	text-overflow:ellipsis;
    white-space: nowrap;
}
.p_overpoints{
	overflow: hidden;
	text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.bor_two{
	border: 1px solid red;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.showtb{
	display: table;
}
.bg_y{
	background-color: yellow;
}
.bg_r{
	background-color: red;
}
.bg_g{
	background-color: #C4D79B;
}
.tb_bg{
	background-color: #F0F8FA;
}
.w_33{
	width: 33%;
}
/*字体颜色*/
.t_red{
	color: red;
}
.t_blue{
	color: #4997A3;
}
 /*                                                                             *
 ================================================================================
							-----页面样式 - 开始-----
 ================================================================================
 
/*****************前台登录页****************/
html,body{
	height: 100%;
}
.login_bg{
	width: 100%;
	height: 100%;
	background: url(../imges/login-bg.jpg) no-repeat;
	background-size: 100% 100%;
	display: table;
}
.login_wrap{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.login_box{
	width: 460px;
	padding: 30px 30px 60px;
	margin: 0 auto;
	border-radius: 8px;
	background-color: rgba(66,149,171,0.4);
}
.login_tilte{
	font-size: 38px;
	line-height: 80px;
	margin-bottom: 20px;
	color: #fff;
}
.login_input input{
	width: 300px;
	padding: 12px 16px;
	color: #FFFFFF;
	border-radius: 20px;
	margin-bottom: 30px;
	border: 1px solid #FFFFFF;
	background-color: rgba(66,149,171,0.4);
}
.login_input input::-webkit-input-placeholder{
    /* placeholder颜色  */
    color: #FFFFFF;
}
.login_input input:-ms-input-placeholder{
    color: #FFFFFF;
}
.login_input input::-moz-placeholder{
    color: #FFFFFF;
}
.login_btn{
	display: inline-block;
	width: 334px;
	color: #4997A3;
	line-height: 40px;
	border-radius: 20px;
	background-color: #FFFFFF;
}

/*****************前台表格******************/
.reception_wrap{
	width: 100%;
	/*min-width: 1200px;*/
	padding: 40px 20px;
	text-align: center;
	font-size: 16px;
}
.reception_box{
	width: auto;
	margin: auto auto;
}
.table_top caption{
	font-size: 34px;
	line-height: 140px;
}
.tb_head th{
	padding: 8px 12px;
	border: 1px solid #464646;
}

.table_top td{
	border: 1px solid #464646;
	padding: 4px 4px;
}
.table_top div{
	width: 37px;
}
.table-b th,.table-b td{
	border-left: 1px solid transparent;
}
/*限宽单列*/
.cell_row{
	width: 16px;
}
.rec_num{
	width: 32px;
	padding: 8px 10px !important;
}
.data_col td{
    overflow: hidden;
	padding: 14px 4px!important;
}
.item1 td:nth-child(2n-1){
	background-color: #F0F8FA;/*rgba(224,245,243,0.6)*/
	color: #387a84;
}
.item2 td:nth-child(2n){
	background-color: #F0F8FA;
	color: #387a84;
}
.data_col_two td{
	padding: 14px 12px!important;
	background-color: #F0F8FA;
	color: #387a84;
}
.summary_data{
	background-color: #65cbc2 !important;
	color: #FFFFFF !important;
	font-size: 19px;
}
.person_int td{
	/*border: 2px solid black;*/
	padding: 0 !important;
}
.person_int input{
	border: none;
	width: 134px;
	font-size: 24px;
	padding: 12px 20px;
	text-align: center;
}
.bo_num{
	width: 35px;
	padding: 14px 11px;
}
.count_td{
	padding: 14px 12px !important;
	text-align: center;
	background-color: #65cbc2;
	color: #FFFFFF;
	font-size: 19px;
}
/*功能*/
.funtr_td td{
	border: 1px solid #464646;;
	border-top: 1px solid transparent;
}
.exit_btn{
	cursor: pointer;
	font-size: 24px;
	padding: 0 !important;
	border-left: 1px solid transparent !important;
}
.sure_btn{
	background-color: #65cbc2;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 24px;
	padding: 0 !important;
	border-left: 1px solid transparent !important;
	border-right: 1px solid transparent !important;
}
.refresh_btn{
	cursor: pointer;
	font-size: 24px;
	padding: 0 !important;
	border-right: 1px solid transparent !important;
}
/*弹窗*/
.exit_pup_wrap,.refresh_pup_wrap,.sure_pup_wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	/*display: table;*/
	background-color: rgba(0,0,0,0.4);
}
.exit_pup_box{
	display: table-cell;
	vertical-align: middle;
}
.exit_pup{
	width: 300px;
	padding: 30px;
	margin: 0 auto;
	text-align: center;
	border-radius: 8px;
	background-color: #FFFFFF;
}
.exit_pup h2{
	line-height: 50px;
}
.pup_btn a{
	display: inline-block;
	padding: 8px 26px;
	background-color: #3879D9;
	color: #FFFFFF;
	border-radius: 4px;
	margin: 30px 20px 10px 20px;
}

/********************后台表格***************/
.backstage_wrap table{
	border: 1px solid #464646;
}
.backstage_wrap{
	width: 100%;
	min-width: 1240px;
	padding: 40px 20px;
	text-align: center;
	font-size: 14px;
}
.backstage_box,.group_btn_box{
	width: 1240px;
	margin: 0 auto;
}
.backstage_box h2{
	font-size: 34px;
	padding: 0 40px 0 104px;
	line-height: 100px;
}
.user_info{
	line-height: 60px;
	font-size: 18px;
	text-align: left;
}
.user_info span{
	margin: 0 20px 0 10px;
	font-weight: bold;
}
.backtable_wrap{
	padding-bottom: 140px;
}
.backtable_wrap .table_mid{
	margin: 0 5px;
}
.backtable_wrap td{
	padding: 3px 0;
	/*font-weight: bold;*/
}
.group_num th{
	font-size: 20px;
	padding: 8px 4px;
}
.group_class th{
	font-size: 12px;
	padding: 3px;
}
.group_class td{
	font-size: 12px;
}
.g_col_num{
	font-size: 12px;
}
.g_int input{
	width: 26px;
	padding: 0 10px;
	font-size: 15px;
	text-align: center;
	border: none;
	/*ime-mode: disabled;*/
}
/*分组按钮*/
.group_btn_wrap{
	width: 100%;
	min-width: 1240px;
	padding: 20px;
	font-size: 14px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	background-color: #FFFFFF;
	border: 1px solid #0092D8;
	-webkit-box-shadow: 0px 0px 3px #0092D8;
	-moz-box-shadow: 0px 0px 3px #0092D8;
	box-shadow: 0px 0px 3px #0092D8;
}
.group_btn_box a{
	width: 56px;
	display: inline-block;
	padding: 8px 6px;
	background-color: #3879D9;
	color: #FFFFFF;
	border-radius: 4px;
	margin: 6px 0;
}
/***************生数据表***************/
.backtable_wrap table{
	border: 1px solid #464646;
}
.admin_class th{
	font-size: 13px;
	padding: 4px;
}
.keep_btn{
	line-height: 100px;
}
.keep_btn a{
	display: inline-block;
	padding: 0 16px;
	line-height: 36px;
	background-color: #4997A3;
	color: #F0F8FA;
	font-size: 16px;
}
.keep_btn a:active{
	background-color: #49a5a3;
}
/*后台界面*/
.layui-table button{
	padding: 2px 6px;
	background-color: #F0F8FA;
	color: #4997A3;
	border: none;
	cursor: pointer;
}
.locking_btn{
	-webkit-box-shadow: 0px 0px 1px #0092D8;
	-moz-box-shadow: 0px 0px 1px #0092D8;
	box-shadow: 0px 0px 1px #0092D8;
}
.locking_btn.active{
	background-color: #4997A3;
	color: #FFFFFF;
}

/*tab*/
.con_item{
	padding: 15px;
	display: none;
}
.backs_list{
	display: none;
}
.reception_box>table{
	margin-left:auto;
	margin-right:auto;
	
}
